
body {
  background-color: rgb(162, 238, 228);
  margin-left: 20%;
  margin-right: 20%;
  border: 4px dotted black;
  padding: 20px 20px 20px 20px;
}
h1 {
  text-shadow: 2px 2px 3px;
}
header {
    font-size: 13pt;
    color: black;
  }
  .mapic {
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
   margin-bottom: 10px;
   border: 2px solid black;
  transform: translateY(-60px);   
  float: right;  
   
  }
  nav {
    display: flex;
    gap: 10px;
  }
  code {
    background-color: black;
    border-style: dashed;
    border-width: 1px;
    padding: 3px;
    color: white;
    font-size: 13px;
    margin-bottom: 3px;
  }
  
  @media (min-width: 680px) {
   
  }
  
  .line {
    border: 2px solid;
    margin-top: 8%;
    margin-bottom: 3%;
    color: navy;
    
  }
  .navlink:hover {
    color: whitesmoke;
  }